@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&family=Delius+Swash+Caps&display=swap");

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#pageContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #dcdac2;
}
/* Nav section */
header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 6;
  background: rgb(89, 190, 206);
  border-bottom: 1px solid rgba(0, 0, 0, 0.651);
}

#logo {
  height: 15vh;
  object-fit: contain;
}

#navLinks {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 1.2rem;
  margin: 1.5rem 0;
  font-family: "Delius Swash Caps", cursive;
}

#navLinks > a {
  text-decoration: none;
  color: black;
  text-align: right;
}

#navLinks > a:hover {
  color: rgb(1, 175, 15);
}

/* End of nav section */

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  background: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

main > section {
  background: gainsboro;
  padding: 3rem 0;
  box-shadow: 0 10px 9px rgba(0, 0, 0, 0.35);
  margin: 3rem 0;
  z-index: 5;
}

/* Home Page */

#page-overlay {
  position: fixed;
  opacity: 0.2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0);
}

#hero {
  background: none;
  box-shadow: none;
  width: 60%;
  margin: auto;
  color: rgb(239, 250, 255);
  font-size: 2.8rem;
  min-height: 40vw;
  font-family: "Delius Swash Caps", cursive;
  text-align: center;
}

#welcome {
  margin: auto;
  margin-top: 10vh;
  display: flex;
  max-width: 100vw;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#logo-container {
  width: 80%;
}

#logo-container > img {
  object-fit: contain;
  width: 100%;
  text-align: center;
}

#store-info {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}

#product-overview {
  padding: 2rem;
  width: 80%;
}

#products-videos-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 3rem;
}

#products-videos-container > iframe {
  margin-top: 1rem;
}

#facebook-link {
  text-align: center;
}

#facebookMsg {
  font-size: 2rem;
  text-decoration: none;
  color: #3b5998;
  text-decoration: underline;
}

#facebookMsg:hover {
  color: #739bfa;
}

#gallery {
  background: rgb(216, 189, 152);
}

#gallery > ::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}
#gallery > ::-webkit-scrollbar-button {
  width: 9px;
  height: 9px;
}
#gallery > ::-webkit-scrollbar-thumb {
  background: #9d9885;
  border: 0px none #ffffff;
  border-radius: 100px;
}
#gallery > ::-webkit-scrollbar-track {
  background: rgb(216, 189, 152);
  border: 0px none #ffffff;
  border-radius: 100px;
}
#gallery > ::-webkit-scrollbar-track:hover {
  background: #c6c3a9;
}
#gallery > ::-webkit-scrollbar-corner {
  background: transparent;
}

#gallery > h1 {
  text-align: center;
  font-family: "Delius Swash Caps", cursive;
}

#gallery-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin: 0 2rem;
}

#gallery-container > img {
  max-height: 50vh;
  max-width: 50vw;
  object-fit: contain;
  margin: 2rem;
}

#testimonials {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(224, 201, 124, 1) 0%,
    rgba(208, 203, 174, 1) 100%
  );
  margin: 3rem auto;
  min-width: 100%;
}

#testHeader {
  -webkit-text-stroke: 2px black;
  align-self: flex-start;
  font-size: 2.4rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 3rem;
  font-family: "Delius Swash Caps", cursive;
}

.quoteBtn {
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  color: lightgreen;
  -webkit-text-stroke: 2px black;
}

.quoteBtn:hover {
  color: rgb(9, 155, 9);
}

.quote-bubble {
  position: relative;
  font-family: sans-serif;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  line-height: 24px;
  background: #fff;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #000;
  margin: 2rem;
  white-space: pre-wrap;
}

.quote-bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

/* Home Page end */

/* About page */

#about-container {
  margin: 0 auto;
  padding: 0;
  background: none;
  max-width: 100vw;
  background: rgb(215, 231, 211);
  background: -moz-linear-gradient(
    90deg,
    rgba(215, 231, 211, 1) 0%,
    rgba(253, 251, 241, 1) 20%,
    rgba(253, 251, 241, 1) 80%,
    rgba(215, 231, 211, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(215, 231, 211, 1) 0%,
    rgba(253, 251, 241, 1) 20%,
    rgba(253, 251, 241, 1) 80%,
    rgba(215, 231, 211, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(215, 231, 211, 1) 0%,
    rgba(253, 251, 241, 1) 20%,
    rgba(253, 251, 241, 1) 80%,
    rgba(215, 231, 211, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7e7d3",endColorstr="#d7e7d3",GradientType=1);
  box-shadow: none;
}

.about-item {
  margin: 0;
  padding: 3rem;
  color: rgb(63, 63, 63);
}

.about-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
}

.about-text {
  padding: 2rem;
  font-size: 1.2rem;
  max-width: 40%;
}

.about-content > img {
  max-width: 40%;
  object-fit: contain;
  box-shadow: 0 10px 9px rgba(0, 0, 0, 0.35);
}

.about-text > h1 {
  font-family: "Delius Swash Caps", cursive;
  width: 100%;
  margin: 0;
  padding: 2rem 0;
}

/* About page end */

/* Tips page */

.tips-section {
  margin: 0;
  padding: 3rem 0;
  font-family: "Delius Swash Caps", cursive;
  font-weight: none;
  background: rgb(57, 92, 92);
  background-image: url("../images/vine-borders.svg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: none;
}

.seasonal-tips {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 2rem auto;
}

.tips-header {
  width: 100%;
  text-align: center;
  margin: 3rem auto;
  font-size: 2rem;
  color: rgb(189, 189, 179);
}

.tips-header > a {
  color: lightgreen;
}

.tips-iframe-container {
  background: rgb(59, 82, 59);
  color: rgb(229, 229, 192);
  padding: 0 0 1rem 0;
  margin: 1rem auto;
  border-radius: 10px;
  box-shadow: 0 10px 9px rgba(0, 0, 0, 0.35);
}

.tips-subheader {
  text-align: center;
}

.msc-tips {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 2rem auto;
}

/* Tips page end */

/* Contact page */

#contact-section {
  width: 60%;
  margin: 3rem auto;
  border-radius: 5%;
  color: rgb(75, 74, 74);
  background: rgb(255, 255, 156);
  background: -moz-linear-gradient(
    162deg,
    rgba(255, 255, 156, 1) 0%,
    rgba(180, 255, 255, 1) 36%,
    rgba(177, 231, 255, 1) 83%,
    rgba(184, 233, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    162deg,
    rgba(255, 255, 156, 1) 0%,
    rgba(180, 255, 255, 1) 36%,
    rgba(177, 231, 255, 1) 83%,
    rgba(184, 233, 255, 1) 100%
  );
  background: linear-gradient(
    162deg,
    rgba(255, 255, 156, 1) 0%,
    rgba(180, 255, 255, 1) 36%,
    rgba(177, 231, 255, 1) 83%,
    rgba(184, 233, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffff9c",endColorstr="#b8e9ff",GradientType=1);
}

#contact-section > img {
  max-width: 100%;
}

#contact-header {
  padding: 0 2rem;
  font-family: "Delius Swash Caps", cursive;
}

#contact-section > form {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-evenly;
  font-size: 1.2rem;
  padding: 0.5rem 2em;
  line-height: 2.5rem;
  font-family: "Delius Swash Caps", cursive;
}

#contact-form > input {
  padding: 20px;
  border-radius: 10px;
  border: none;
}

#contact-form > textarea {
  padding: 20px;
  margin-top: 2rem;
  border-radius: 10px;
  border: none;
  font-size: 1em;
}

#contact-form > button {
  max-width: 10vh;
  margin: 1rem auto;
  font-family: "Delius Swash Caps", cursive;
  font-size: 1.2rem;
  border-radius: 10%;
  background: rgb(1, 150, 1);
  color: white;
}

#contact-section > form > button:hover {
  color: white;
  background: black;
}

/* Contact page end */

/* Confirmation section */
#confirmation-section {
  margin: auto;
  background: none;
  box-shadow: none;
  color: white;
  font-size: 2rem;
  margin-top: 4rem;
  font-family: "Delius Swash Caps", cursive;
  padding: 2rem;
  font-weight: bolder;
}

#conFBLink {
  color: white;
  text-decoration: none;
  background: rgb(38, 99, 179);
  padding: 5px;
  border-radius: 50%;
}

#conFBLink:hover {
  background: white;
  color: rgb(38, 99, 179);
}

/* footer section */
footer {
  display: flex;
  background: rgba(100, 146, 31, 0.808);
  padding: 2.5rem 0px;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  z-index: 6;
}

#footer-info {
  font-size: 1rem;
  text-align: center;
}

#footer-info > li {
  list-style: none;
  margin: 10px;
}

#fbLink > img:hover {
  height: 110px;
  width: 110px;
}

#fbLink > img {
  height: 100px;
  width: 100px;
}

#links {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/*Footer Section End */

@media (max-width: 1200px) {
  #hero {
    font-size: 1.8rem;
  }
}

@media (max-width: 730px) {
  header {
    flex-direction: column;
  }
  #navLinks {
    font-size: 1rem;
    margin: 0.25em;
  }
  #hero {
    font-size: 1.2rem;
  }
  #contact-section {
    width: 90%;
  }
  .about-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .about-content > img {
    max-width: 100%;
  }
  .about-text {
    max-width: 100%;
  }
  #contact-header {
    font-size: 1.2rem;
  }
  #contact-form > label {
    font-size: 0.8rem;
  }
  .tips-iframe-container > iframe {
    max-width: 90vw;
  }
}

@media (max-width: 400px) {
  #navLinks {
    font-size: 0.75rem;
  }
  #hero {
    font-size: 1rem;
  }
}
